*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    /*position: relative;*/
}
.header-container{
    width: 100%;
}

.ads{
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fafafa;
}
.ads-text a{
    color: #F18410;
    text-decoration: none;
    font-weight: bold;
}
.ads span img{
    width: 30px;
    cursor: pointer;
}
.left-arrow img{
    transform: rotateY(180deg);
}

.banner-container{
    height: 500px;
}
.banner{
    background-image: url('./livros.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 80px;
}
.banner .bannerContent{
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    align-items: center;
}
.bannerContent h1{
    color: #fff; 
    max-width: 400px;
    font-size: 1.5rem;
}
.bannerContent h1 strong{
    color: #F18410; 
}

.main-container{
    width: 100%;
}
.bannerContent{
    display: flex;
    align-items: center;
    
}
.bannerLogo{
    width: 90px;
    position: relative;
}
.bannerLogo .vc{
    font-size: 2rem;
}
.bannerLogo .desc{
    font-size: 8px;
    color: #787878;
}
.bannerLogo > p{
    color: #fff;
}

.bannerLogo > p:nth:child(1){
    color: #ff0;
}
.bannerContent h2{
    color: #F18410;
    margin-left: 18px;
}

.bannerLogo span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 50px;
    background-color: #fff;
    font-weight: bold;
    font-size: 28px;
    
}
.bannerLogo span p > b{
    position: absolute;
    top: 0;
    color: #F18410;
}
.steps{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    padding: 120px 0;
}
.steps .img1, .steps .img2, .steps .img3{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}
.steps .img1 p, .steps .img2 p, .steps .img3 p{
    text-align: center;
}
.steps .seta1, .steps .seta2{
    transform: rotateY(180deg);
}
.steps .seta1 img, .steps .seta2 img{
    height: 50px;
}
.circles{
    width: 170px;
    height: 170px;
    position: relative;
}

.circle1 {
    border: 1px solid rgb(100, 100, 100);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
}
.circle2 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    right: 10px;
    background-color:#F18410;
}
.img1 .circle2{
    display: flex;
    justify-content: center;
}
.img2 .circle2{
    display: flex;
    justify-content: center;
}
.img3 .circle2{
    display: flex;
    justify-content: center;
}
.img1 .circle2 img{
    width: 100px;    
}
.img2 .circle2 img{
    width: 100px;    
}
.img3 .circle2 img{
    width: 100px;    
}
.rules{
    display: flex;
    align-items: center;
}
.rules-container{
    width: 100%;
    background-color: #fafafa;
    padding: 50px 0;
}
.rules-container .rules{
    display: grid;
    gap: 30px;

    grid-template-columns: 3fr 5fr;
    min-height: 400px;
}
.rules .rules-1{
    background-color: #ff7f00;
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    height: 300px;
}
.rules-imgs-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.rules-2{
    display: flex;
}
.rules-2 .squares-container{}

.squares{
    margin:10px;
    position: relative;
    max-width: 400px;
    height: 110px;
}
.squares .squares1{
    position: absolute;
    width: 100%;
    height: 110px;
    border: 1px solid rgb(167, 167, 167);
    bottom: 0;
    transform: translate(10px, 10px);
}
.squares .squares2{
    position: relative;
    background-color: #fff;
    border: 1px solid rgb(167, 167, 167);
    padding: 20px;
    height: 100%;
    z-index: 1;
}
.squares .squares2 p{
    font-size: 22px;
    color: #777;
}
.squares .squares2 b{
    color: #000;
}
.squares .squares2 strong{
    color: #F18410;
}

.rules-imgs{
    display: flex;
    align-items: center;

}
.rules-imgs img {
    width: 150px;
}
.rules-imgs p {
    font-size: 8rem;
}
.rules-imgs-content .rules-text{
    color: #fafafa;
}
.rules-imgs-content .rules-text h2{
    font-size: 2rem;
}
.rules-imgs-content .rules-text p{
    font-size: 14px;
}
.squares-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.footer-container{
    width: 100%;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.questions-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}
.questions-container h3{
    font-size: 2rem;
    color: #F18410;
}
.questions-container > p{
    color: #777;
}
.questions{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #000;
    width: 70%;
    margin-bottom: 5px;
}
.question .up{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    cursor: pointer;
}
.question .downContainer{
    display: none;
    margin-bottom: 10px;
}


.question img{
    width: 20px;
    transform: rotateZ(-90deg);
    
}
.reg a{
    color: #333;
    text-decoration: none;
}

.chat{
    width: 80px;
    height: 70px;
    background-color: #F18410;
    position: fixed;
    bottom: 60px;
    border-radius: 50%;
    right:20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}
.chat img{
    width: 40px;
}

.more{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    background-color: #fdeeef;
    margin-top: 50px;
}
.more a {
    color: #000;
}
.more button{
    border: none;
    background-color: #F18410;
    color: #fff;
    padding: 5px 25px;
    border-radius: 5px;
    font-size: 18px;
}
@media only screen and (max-width: 1200px) {
    .ads p{
        margin: 0 20px;
    }
    .banner .bannerContent{
        width: 80%;
    }
    .rules-imgs img {
        width: 100px;
    }
    .rules-imgs p {
        font-size: 6rem;
    }
    
    
    .steps{
        flex-direction: column;

    }
    .seta1 img, .seta2 img{
        margin: 30px 0;
        transform: rotateZ(-90deg);
    }
    .rules-container .rules{
        display: grid;
        gap: 30px;
 
        grid-template-columns: 1fr;
    }

    .squares-container{
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
    
    }
    .rules .rules-1{
        justify-content: center;

    }
    .rules-imgs-content{
        align-items: center;
    }
    .question{
        width: 80%;
    }
    .questions-container h3{
        text-align: center;
    }
    .questions-container > p{
        text-align: center;
    }
    
  }

@media only screen and (max-width: 768px) {
    .ads{
        height: 80px;
    }
    .bannerContent{
        flex-direction: column;
    }
    .bannerContent h2{
        text-align: center;
    }
    .bannerContent h1{
        text-align: center;
        font-size: 1.2rem;
    }
    .steps{
        flex-direction: column;

    }
    .seta1 img, .seta2 img{
        margin: 30px 0;
        transform: rotateZ(-90deg);
    }
    .rules-container .rules{
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr;
    }
    .questions{
        max-width: 600px;
        width: 90%;
    }
    .squares-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    
    }
    .squares .squares2 p{
        font-size: 18px;

    }
    .more{
        height: 100px;
        flex-direction: column;
        padding: 30px;
        margin: 30px 0 100px 0;
        
    }
  }